<div class="flex flex-col items-center w-screen">
    <header>
        <h1 class="text-4xl my-10">{{ title }}</h1>
    </header>

    <div class="flex mx-10 max-w-5xl items-center" *ngIf="newsData">
        <ul>
            <li class="my-10" *ngFor="let article of newsData.articles">
                <h3 class="text-green-600 font-bold text-lg">{{ article.title }}</h3>
                <p class="text-lg">{{ article.description }}</p>
            </li>
        </ul>
    </div>
    <h2>Kanji</h2>

    <!-- Try to do get each word in news description and find it in the Kanji API -->
    <button class="bg-blue-500 w-40 mb-10" (click)="onButtonClick(5)">Get Kanji N5</button>
    <button class="bg-green-500 w-40 mb-10" (click)="onButtonClick(4)">Get Kanji N4</button>
    <button class="bg-yellow-500 w-40 mb-10" (click)="onButtonClick(3)">Get Kanji N3</button>
    <button class="bg-orange-500 w-40 mb-10" (click)="onButtonClick(2)">Get Kanji N2</button>
    <button class="bg-red-500 w-40 mb-10" (click)="onButtonClick(1)">Get Kanji N1</button>
    <div class="flex mx-10 max-w-5xl items-center mb-44" *ngIf="kanjiData">
        <ul>
            <li class="my-10" *ngFor="let kanji of kanjiData.words">
                <h3 class="text-green-600 font-bold text-lg">{{ kanji.word }}</h3>
                <h3 class="text-pink-400 font-bold text-lg">{{ kanji.meaning }}</h3>
                <h3 class="text-green-600 font-bold text-lg">Furigana: {{ kanji.furigana }}</h3>
                <h3 class="text-green-600 font-bold text-lg">Romaji: {{ kanji.romaji }}</h3>
                <h3 class="text-green-600 font-bold text-lg">{{ kanji.level }}級</h3>
            </li>
        </ul>
    </div>

</div>
